*, *::before, *::after { box-sizing: border-box; }

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  background: #f5f5f5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
}

#root {
  min-height: 100vh;
}
